@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
.footer {
  font-size:20px;
  font-family: 'Josefin Slab';
  background-color: #adb6b6;
  color: Black;
  width: 100%;
  text-align: center;
}
#container a {
  color: inherit;
  text-align: center;
}
a:link {
  color: inherit;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: blue;
}