@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap');

body {
  margin: 0px 0px 0px 0px;
}

@media (prefers-color-scheme: dark) {

body {
  background-color: #0F1111;
}
#nav {
  font-family: 'Varela Round', sans-serif !important;
}

.logo {
  float: left;
  width: 20%;
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar {
  float: left;
  width: 70%;
}

.NavBarLink {
  float: left;
  width: 25%
}

#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #337dff;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #0000FF;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}


.Light-Dark {
  float: left;
  width: 10%;
}

.Light {
  padding-top: 15px;
  border: none !important;
  border-radius: 50% !important;
  outline: none;
  background-color: #0F1111;
  cursor: pointer;
}

.Dark {
  display: none;
}
 
li {
	list-style: none;
}

.icons
{
  color:  white;
  top:25%;
}
.image1
{
  position: relative;
 top:410px;
 left: 4.5%;
 transition: opacity 1s, transform .2s;
 animation-name: move1_5;
  animation-duration: 3s;
  filter: brightness(65%);
}
.image2
{
  position: relative;
  top: 360px;
  left:2.25%;
  transition: opacity 1s, transform .2s;
  animation-name: move2_4;
  animation-duration: 2s;
  z-index: 1;
  filter: brightness(80%);
}
.image3
{ 
  position: relative;
  top:310px;
  transition: opacity 1s, transform .2s;
  animation-name: move3;
  animation-duration: 1s;
  z-index:2;
  filter: brightness(95%);
}
.image4
{
  position: relative;
  top:360px;
  right: 2.25%;
  transition: opacity 1s, transform .2s;
  animation-name: move2_4;
  animation-duration: 2s;
  z-index: 1;
  filter: brightness(80%);
}
.image5
{
  position: relative;
  top: 410px;
  right: 4.5%;
  transition: opacity 1s, transform .2s;
  animation-name: move1_5;
  animation-duration: 3s;
  filter: brightness(65%);
 
}
.image1 .image2 .image3 .image4 .image5
{
transition: opacity 2s ease-in-out;
}
.image1:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image2:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image3:hover
{
transform: scale(1.25);
z-index: 3;
filter: brightness(100%);
}
.image4:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image5:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
@keyframes move1_5
{
  0%{top:0px;}
  100%{top:410px;}
}
@keyframes move2_4
{
  0%{top:0px;}
  100%{top:360;}
}
@keyframes move3
{
0%{top:0px;}
100%{top:310px;}
}
.click
{
  font-style: cursive;
  font-family: 'Varela Round';
  font-size: 30px;
  color: #00b4ec;
  position: relative;
  transition: all 2s;
  right:10%; 
top:270px;
border: 2px solid #4863a0;
border-radius: 10px;
background-color: #0F1111;
}
.click:hover
{
  transform: scale(1.05);
  background-color: #110675;
  transition-duration: 1s;
  color:#ffffff;
}
.icon4
{
  position: absolute;
  float:left;
  left:52.5%;
  top: 12%;
}
.icon4desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:15%;
}
.icon1
{
  position: absolute;
  float:left;
  left:51.75%;
  top: 20.5%;
}
.icon1desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:23.5%;
}
.icon2
{
  position: absolute;
  float:left;
  left:53%;
  top: 30.5%;
}
.icon2desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:32.25%;
}
.icon3
{
  position: absolute;
  float:left;
  left:53%;
  top: 40%;
}
.icon3desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:41%;
}
.name
{
  top: 10%;
  position: absolute;
  font-size:60px;
  white-space: nowrap;
  font-family: 'Sacramento';
  animation: type 4s steps(70, end); 
  left: 17%;
  width: 30%;
}
.vision
{
  position: absolute;
  font-size:30px;
  white-space: nowrap;
  font-family: 'Josefin Slab';
  top: 32%;
  left:5%
}

@keyframes type{ 
  from { width: 0; } 
  to {
    width: 300px;
  }
}
.line
{
  border-left: 3px double #1C50BC;
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 11%;
}

#head {
  height: 860px;
}

.middle2 {
  font-family: 'Varela Round', sans-serif !important;
}

#wrap {
  background-color: #161819 !important;
  font-family: 'Varela Round', sans-serif !important;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: auto;
  z-index: 100;
  width: 100%;
  height: 80%;
  padding: 0 60px;
  background-size: cover;
  overflow: hidden;
  color: white;
}

.image_slider {
  max-width: 100%;
  width: 100%;
}

.button_templates{
  transition: .5s ease;
  opacity: 1;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  background-color: #00b4ec;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  margin: auto;
}

.button_templates:hover {
  opacity: 0.5;
}

.link_template_button:link {
  text-decoration: none;
  color: white;
}

.link_template_button:hover {
  color: white;
}

.link_template_button:visited {
  color: white;
}

.link_template_button:active {
  color: white;
}

.slider {
  top:35%;
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 35px auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 55px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 7rem;
  z-index: 300;
  outline: none;
  color: #87d8ed;
  border-radius: 50%;
  text-align: center;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #0073e6, 0 0 3px #0073e6, 0 0 3px #0073e6, 0 0 3px #0073e6, 0 0 3px #0073e6;
}

.slick-arrow:hover {
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #0073e6, 0 0 5px #0073e6, 0 0 5px #0073e6, 0 0 5px #0073e6, 0 0 15px #0073e6;
  cursor: pointer;
}

.slick-prev {
  left: -63px;
  text-align: left;
}

.slick-next {
  right: -55px;
  text-align: right;
}

.item.slick-slide {
  width: 400px;
  height: 567px !important;
  transition: transform .4s;
  position: relative; 
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}

.middle1 {
  top:50%;
}

.middle2 {
  top:50%;
  width: 100%;
  height: 670px;
  background-color: #171819 !important;
  margin-top: -21px;
  color: white;
}

.testimonial1 {
  float: left;
  width: 23.33%;
  margin-left: 10%;
  margin-right: 2.5%;
  text-align: center;
}

.testimonial2 {
  float: left;
  width: 23.34%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

.testimonial3 {
  float: right;
  width: 23.33%;
  margin-left: 2.5%;
  margin-right: 10%;
  text-align: center;
}

.testimonial1_pic {
  border-radius: 50%;
  padding-top: 10px;
}

.Testimonial_text {
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  font-size:20px;
  font-family: 'Varela Round', sans-serif !important;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #363B3D;
  color: white;
  width: 100%;
  text-align: center;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: white;
}
a:active {
  color: white;
}
a:hover {
  text-decoration: underline;
  color: blue;
}

/*From Dark-Reader Chrome Extension*/
::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
}
::-webkit-scrollbar-thumb:active {
    background-color: #484e51;
}
::-webkit-scrollbar-corner {
    background-color: #0F1111;
}

}

@media (prefers-color-scheme: light) {

#nav {
  font-family: 'Varela Round', sans-serif !important;
}

.logo {
  float: left;
  width: 20%
}

#navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
#navigation-bar {
  float: left;
  width: 70%;
}

.NavBarLink {
  float: left;
  width: 25%
}

#navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
#navigation-bar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
#navigation-bar a:hover {
  color: #0000FF;
}
#navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #0000FF;
}
#navigation-bar a:hover::before {
  right: 0;
  left: 0;
}

.Light-Dark {
  float: left;
  width: 10%;
}

.Dark {
  padding-top: 15px;
  border: none !important;
  border-radius: 50% !important;
  outline: none;
  background-color: white;
  cursor: pointer;
}

.Light {
  display: none;
}
 
li {
	list-style: none;
}

.icons
{
  background-image: linear-gradient(to bottom, 	hsla(194, 100%, 46%, 0.486),#ffffff );
  top:25%;
}
.image1
{
  position: relative;
 top:410px;
 left: 4.5%;
 transition: opacity 1s, transform .2s;
 animation-name: move1_5;
  animation-duration: 3s;
  filter: brightness(65%);
}
.image2
{
  position: relative;
  top: 360px;
  left:2.25%;
  transition: opacity 1s, transform .2s;
  animation-name: move2_4;
  animation-duration: 2s;
  z-index: 1;
  filter: brightness(80%);
}
.image3
{ 
  position: relative;
  top:310px;
  transition: opacity 1s, transform .2s;
  animation-name: move3;
  animation-duration: 1s;
  z-index:2;
  filter: brightness(95%);
}
.image4
{
  position: relative;
  top:360px;
  right: 2.25%;
  transition: opacity 1s, transform .2s;
  animation-name: move2_4;
  animation-duration: 2s;
  z-index: 1;
  filter: brightness(80%);
}
.image5
{
  position: relative;
  top: 410px;
  right: 4.5%;
  transition: opacity 1s, transform .2s;
  animation-name: move1_5;
  animation-duration: 3s;
  filter: brightness(65%);
 
}
.image1 .image2 .image3 .image4 .image5
{
transition: opacity 2s ease-in-out;
}
.image1:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image2:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image3:hover
{
transform: scale(1.25);
z-index: 3;
filter: brightness(100%);
}
.image4:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
.image5:hover
{
transform: scale(1.25);
z-index:3;
filter: brightness(100%);
}
@keyframes move1_5
{
  0%{top:0px;}
  100%{top:410px;}
}
@keyframes move2_4
{
  0%{top:0px;}
  100%{top:360;}
}
@keyframes move3
{
0%{top:0px;}
100%{top:310px;}
}
.click
{
  font-style: cursive;
  font-family: 'Varela Round';
  font-size: 30px;
  color: #00b4ec;
  position: relative;
  right:10%; 
top:270px;
border: 2px solid #4863a0;
border-radius: 10px;
background-color: #ffffff;
}
.click:hover
{
  transform: scale(1.05);
  background-color: #110675;
  transition-duration: 1s;
  color:#ffffff;
}
.icon4
{
  position: absolute;
  float:left;
  left:52.5%;
  top: 12%;
}
.icon4desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:15%;
}
.icon1
{
  position: absolute;
  float:left;
  left:51.75%;
  top: 20.5%;
}
.icon1desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:23.5%;
}
.icon2
{
  position: absolute;
  float:left;
  left:53%;
  top: 30.5%;
}
.icon2desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:32.25%;
}
.icon3
{
  position: absolute;
  float:left;
  left:53%;
  top: 40%;
}
.icon3desc
{
  font-size:20px;
  font-family:'Josefin Slab';
  position:absolute;
  left:58%;
  top:41%;
}
.name
{
  top: 10%;
  position: absolute;
  font-size:60px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Sacramento';
  animation: type 4s steps(70, end); 
  left: 17%;
  width: 30%;
}
.vision
{
  position: absolute;
  font-size:30px;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Josefin Slab';
  top: 32%;
  left:5%
}

@keyframes type{ 
  from { width: 0; } 
  to {
    width: 300px;
  }
}
.line
{
  border-left: 3px double rgba(6, 44, 124, 0.493);
  height: 250px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 11%;
}

#head {
  height: 860px;
}

.middle2 {
  font-family: 'Varela Round', sans-serif !important;
}

#wrap {
  background-color: #d0d0d026 !important;
  font-family: 'Varela Round', sans-serif !important;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: auto;
  z-index: 100;
  width: 100%;
  height: 80%;
  padding: 0 60px;
  background-size: cover;
  overflow: hidden;
}

.image_slider {
  max-width: 100%;
  width: 100%;
}

.button_templates{
  transition: .5s ease;
  opacity: 1;
  width: 200px;
  text-align: center;
  border-radius: 15px;
  background-color: #00b4ec;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  margin: auto;
}

.button_templates:hover {
  opacity: 0.5;
}

.link_template_button:link {
  text-decoration: none;
  color: white;
}

.link_template_button:hover {
  color: white;
}

.link_template_button:visited {
  color: white;
}

.link_template_button:active {
  color: white;
}

.slider {
  top:35%;
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 35px auto;
  max-width: 800px;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 55px;
  height: 55px;
  line-height: 50px;
  margin-top: -25px;
  border: none;
  background: transparent;
  font-family: monospace;
  font-size: 7rem;
  z-index: 300;
  outline: none;
  color: #87d8ed;
  border-radius: 50%;
  text-align: center;
}

.slick-arrow:hover {
  text-shadow: 0 0 18px rgba(135, 186, 198,.7);
  cursor: pointer;
}

.slick-prev {
  left: -63px;
  text-align: left;
}

.slick-next {
  right: -55px;
  text-align: right;
}

.item.slick-slide {
  width: 400px;
  height: 567px !important;
  transition: transform .4s;
  position: relative; 
}

.slick-slide:after {
  content:'';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  transition: transform .4s;
}

.item.slick-slide {
  transform: scale(0.7)  translate(640px);
}

.item.slick-slide.slick-center + .slick-slide {
  transform: scale(0.8) translate(-250px);
  z-index: 10;
}

.item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
  transform: scale(0.7)  translate(-640px);
  z-index: 5;
}

.item.slick-slide.slick-active {
  transform: scale(0.8) translate(250px);
}

.item.slick-slide.slick-center {
  /* margin: 0 -10%; */
  transform: scale(1);
  z-index: 30;
}

.slick-center:after {
  opacity: 0;
}

.middle1 {
  top:50%;
}

.middle2 {
  top:50%;
  width: 100%;
  height: 670px;
  background-color: #F0F8FF;
  margin-top: -21px;
}

.testimonial1 {
  float: left;
  width: 23.33%;
  margin-left: 10%;
  margin-right: 2.5%;
  text-align: center;
}

.testimonial2 {
  float: left;
  width: 23.34%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
}

.testimonial3 {
  float: right;
  width: 23.33%;
  margin-left: 2.5%;
  margin-right: 10%;
  text-align: center;
}

.testimonial1_pic {
  border-radius: 50%;
  padding-top: 10px;
}

.Testimonial_text {
  margin-left: 10px;
  margin-right: 10px;
}

.footer {
  font-size:20px;
  font-family: 'Varela Round', sans-serif !important;
  padding-top: 30px;
  margin-bottom: 0px;
  background-color: #adb6b6;
  color: Black;
  width: 100%;
  text-align: center;
}
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:active {
  color: black;
}
a:hover {
  text-decoration: underline;
  color: #337dff;
}
}