@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap');

body
{
  margin-left: 0px;
  margin-right: 0px;
  overflow: auto;
}
.page_logo {
  height: 5em;
}

img {
  vertical-align: middle;
}

.page_container {
  display: flex;
}

.navbar {
  flex-basis: 24.7%;
  border-right: 3px lightgray solid;
  height: 100vh;
  position: relative; 
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  font-family: 'Varela Round';
}

.form {
  flex-basis: 75%;
  overflow-y: auto;
  height: auto;
  overflow-x: hidden;
}

.icon
{
  width: 5em;
}

.line
{
  border-bottom: 2px solid lightgray;
  
}
.secline
{
  border-bottom: 1px solid rgba(6, 44, 124, 0.493);
}
.navbar a {
  background: white;
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  padding-bottom:12px;
  font-family: 'Varela Round',sans-serif;
  /*transition: background-color 1s;*/
}

/*Page Specific*/
.education {
  background-color: lightcyan!important;
}

form{
  position: relative;
}
.navbar a:hover
{
  background: lightgray;
  color: white;
}
.navbar a:active
{
  background-color: white;
}
.navline
{
  border-left: 3px solid rgba(6, 44, 124, 0.493);
}
.arrow
{
  height: 7%;
  width: 4.5%;
  padding-bottom: 38px;
  padding-left: 50px;
}
/*input[type=text][id="college"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}
input[type=text][id="city"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}
input[type=text][id="state"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}
input[type=text][id="month"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}
input[type=text][id="year"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text][id="degree"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text][id="gpa"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text][id="start"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text][id="end"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text][id="Rel_course"]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}*/

input[type=text]
{
  border: 0;
  padding-top: 3vh;
  border-bottom: 2px solid #45465e4d;
  width: 90%;
}

input[type=text]:focus
{
  outline:none;
  padding:0.5em;
  margin: 0.5em;
  border: 0;
  border-bottom: 2px solid steelblue;
}
.col
{
  position: absolute;
  top: 6vh;
  left: 2.6vw;
  width: 100%;
}
.stat
{
  position: absolute;
  top: 20vh;
  left: 2.6vw;
  width: 48%;
}
.cit
{
  position: absolute;
  top: 20vh;
  left: calc(2.6vw + 48%);
  width: 48%;
}

.degree
{
 position: absolute;
 top: 34vh;
 left: 2.6vw;
 width: 48%;
}

.gpa
{
  position: absolute;
  top: 34vh;
  left: calc(2.6vw + 48%);
  width: 48%;
}

.Rel_course
{
  position: absolute;
  top: 60vh;
  left: 2.6vw;
  width: 101.5%;
}

.expgrad1
{
  position: absolute;
  left: 2.6vw;
  top: 47vh;
  width: 48%;
}
.expgrad2
{
  position: absolute;
  left: calc(2.6vw + 48%);
  top: 47vh;
  width: 48%;
}
.back
{
  position: relative;
  top:70vh;
  left: 29vw;
}
.continue
{
  position: relative;
  left: 37vw;
  top: 63.9vh;
}
.cont
{
  background-color:#128a0ea8;
}
.add
{
  position: relative;
  left: 10em;
}
placeholder
{
font-style: italic;
}
button
{
  font-style: cursive;
  font-family: 'Josefin Slab';
  font-size: 25px;
  color: black;
  border: 1px black;
  padding: 10px;
}
button:hover
{
  color: white;
  background-color: green;
}
label
{
 font-family: 'Varela Round';
 font-size: 1.2em;
 color: steelblue;

 }
.edu_img
{
  height:5%;
  width:15%;

}
.headline
{
  font-family: 'Varela Round';
  position: relative;
  font-weight: bold;
  font-size: 2.5em;
  top: 4vh;
  left: 4vh;
  color: #000000;
}

.navelements {
  vertical-align: middle;
}