@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sacramento&display=swap');

body
{
  margin-left: 0px;
  margin-right: 0px;
}

.page_logo {
  height: 12vh;
}

img {
  vertical-align: middle;
}

.navbar {
  float: left;
  width: 24.7%;
  border-right: 3px lightgray solid;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Varela Round';
}

.form {
  float: right;
  width: 75%;
  overflow: hidden;
  font-family: 'Varela Round';
  position: relative;
  height: 100vh;
}

.icon
{
  width: 12vh;
}

.line
{
  border-bottom: 2px solid lightgray;
  
}

.navbar a {
  background: white;
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  padding-bottom:12px;
  font-family: 'Varela Round',sans-serif;
  /*transition: background-color 1s;*/
}

/*Page Specific*/
.info {
  background-color: lightcyan!important;
}

.headline {
  position: relative;
  font-weight: bold;
  font-size: 2.5em;
  top: 4vh;
  left: 3vw;
}

form{
  position: relative;
}

.info:hover
{
  background-color: steelblue!important;
}

.navbar a:hover
{
  background-color: lightgray;
  color: white;
}
.navbar a:active
{
  background-color: white;
}
.navline
{
  border-left: 3px solid rgba(6, 44, 124, 0.493);
}

.desc
{
  position: relative;
  font-size: 1.3em;
  top: 2vh;
  left: 6.5vh;
}


.back
{
  position: absolute;
  top: 64vh;
  left: 20em;
}
.continue
{
  position: absolute;
  left: 30em;
  top: 64vh;
}
.cont
{
  background-color:#128a0ea8;
}

placeholder
{
font-style: italic;
}
.addbutton
{
  position: relative;
  font-style: cursive;
  font-family: 'Josefin Slab';
  font-size: 25px;
  color: black;
  border: 1px black;
  padding: 10px;
  top: 25vh;
  left: 47vh;
  
}
.addbutton:hover
{
  color: white;
  background-color: green;
}
button
{
  font-style: cursive;
  font-family: 'Josefin Slab';
  font-size: 25px;
  color: black;
  border: 1px black;
  padding: 10px;
}
button:hover
{
  color: white;
  background-color: green;
}
label
{
 font-family: 'Varela Round';
 color: steelblue;
 font-size: 1.2em;
 }
.edu_img
{
  height:5%;
  width:15%;

}
.navelements {
  vertical-align: middle;
}